<html>
  <title>File Listing</title>

  <body>
    <h2>List of files</h2>
    <ul>
      <% @filenames.each do |filename| %>
      <li>
        <a href="<%= filename %>"><%= filename %></a>
      </li>
      <% end %>
    </ul>

    <% if params[:sort] == "desc" %>
      <p><a href="/"> Sort ascending </a></p>
    <% else %>
      <p><a href="/?sort=desc"> Sort descending </a></p>    
    <% end %>
  </body>
</html>
