<h2>User Registration</h2>

<% if @errors %>
  <div class="error">
    <h4 class="error">
      Oops! The form contains the following error(s).
    </h4>
    <ul>
      <% @errors.each do |error| %>
        <li class="error"><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>  


<form class="registration" action="/users/register" method="post">
  <div class="registration">
    <label for="username">Username:</label>
    <input name="username" id="username" value="<%=params[:username] %>" />
  </div>

  <div class="registration">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </div>

  <div class="registration">
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" id="confirm_password" />
  </div>

  <button type="submit">Create account</button>
</form>
