<!doctype html>
<html>
  <head>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p> There are <%= @users.size %> users with a total of <%= count_interests %> interests! </p>
  </footer>
</html>
